@main("ZenFeedback") {
<header>
	<div class="wrap">
		<h1>PIERRE<span>POLL</span>JACQUES</h1>
		<h2>Transform your conference in<br/>a real-time interactive event</h2>
		<br class="clearfix" />
	</div>
</header>
<div class="wrap">
	<div class="createroom">
		<h4>Create your room in seconds</h4>
		<form action="/rooms" method="post" >
			<input type="text" name="name" placeholder="Event name" autocomplete="off">
		  	<button class="btn">Create</button>
		</form>
	</div>
	<div class="logo home animated">
		<span class="icon-head_02"></span>
	</div>
</div>
}
