@(name: String, host: String)

<!DOCTYPE html>
<html>
  <head>
    <script src="@routes.Assets.at("javascripts/jquery-1.9.0.min.js")" type="text/javascript"></script>
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
  </head>
  <body data-room="@name" data-host="@host">


    <header class="small">
      <div class="wrap">
        <h1>PIERRE<span>POLL</span>JACQUES</h1>
        <h2>@name</h2>
        <h3>• Orga part •</h3>
      </div>
    </header>

    <div class="wrap">
      <div class="newquestion">
        <form name="new-question">
          <textarea class="question" name="question" placeholder="Your question here !"></textarea>
          <ol id="answers">
            <li><span>1</span><input class="answer" name="answer" type="text" placeholder="answer 1" /></li>
            <li><span>2</span><input class="answer" name="answer" type="text"  placeholder="answer 2"/></li>
            <li><span>3</span><input class="answer" name="answer" type="text"  placeholder="answer 3"/></li>
          </ol>
          <button class="btn" type="submit">Send</button>
        </form>
      </div>
      <div class="urls">
        <p>Attendants page: <a href="http://@host/rooms/@name" style="color:white;">@host/rooms/@name</a></p>
        <p>Results page: <a href="http://@host/rooms/@name/results" style="color:white;">@host/rooms/@name/results</a></p>
      </div>
    </div>

    

    <!-- Javascripts -->
    <script type="text/javascript" src="@routes.Assets.at("javascripts/orga.js")"></script>
  </body>
</html>
